
.fieldset {
    background-color: rgb(154, 220, 21);
    
box-shadow: white;
   width: 90%;
    border-radius: 12px;
    max-width: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nation a:hover {
    background-color: white;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
body{
    font-family:    Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-image: linear-gradient(rgba(10,8,8,0.671), rgba(7,6,6,0.675)),url(0abdabf1dbabb91f90cb732dbd4ec295.jpg);
    text-align: center;
    color: white;
    padding-bottom: 80px;
    background:#f2f2f2 ;
   
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #c81a1a;
}
button {
    background-color: white;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    bottom: 400px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background: linear-gradient(to right, #007BFF, #0056b3);
    background-size: 200% auto;
    z-index: 1;

    height: 50px;
    font-size: 16px;
    font-weight: bold;

    
  
    
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.container {
    max-width: 500px;

    margin: 30px auto;
    background: #333;
    padding: 20px;
    border-radius: 8px;
}
h2{
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
header {
    
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background: white;
    padding: 10px;
    text-align: center;
}
nav a {
    color: blue;
    margin: 0 15px;
    text-decoration: none;
}

   
    

nav li:hover{
    box-shadow: 0 0 10px 5px white;
}

.inscrire .connecter{
    margin: 100px;
}

tr{
    height: 38px;
}